<div class="forms">
    <div class="form-container">
        <form [formGroup]="questionsForm" (submit)="submitForm()">
            <h1>Create Form</h1>
            <ng-container formArrayName="questions" *ngFor="let ques of questions.controls; index as questionIndex">
                <div class="question-container" [formGroupName]="questionIndex">
                    <button style="float:right;margin:0;margin-bottom: 0.2em;" (click)="removeQuestion(questionIndex)">
                        <i class="fa-solid fa-trash"></i>
                    </button>
                    <textarea class="form-control" formControlName="question" placeholder="Question" required></textarea>
                    <select class="form-control" formControlName="optionType">
                        <option *ngFor="let inputType of inputTypes" [value]="inputType">{{ inputType }}</option>
                    </select>
                    @if(questionsForm.controls['questions'].value[questionIndex].optionType=== 'radio'
                    || questionsForm.controls['questions'].value[questionIndex].optionType=== 'checkbox'
                    ||questionsForm.controls['questions'].value[questionIndex].optionType=== 'select'){
                    <div class="option-container">
                        <div formArrayName="options"
                            *ngFor="let list of options(questionIndex).controls; index as optionIndex">
                            <input type="text" class="form-control" formControlName="{{ optionIndex }}">
                            <button class="remove-option-btn" (click)="removeOption(questionIndex, optionIndex)">
                                <i class="fa-solid fa-xmark"></i>
                            </button>
                        </div>
                        <button class="add-option-btn" (click)="addOption(questionIndex)">Add Option</button>
                    </div>
                    }

                </div>
            </ng-container>

            <button class="create-question-btn" (click)="addQuestion()">Create Question</button>
            <button class="submit-btn" type="submit" [disabled]="!questionsForm.valid">Submit</button>
        </form>
    </div>


    <div class="form-container">
        <form [formGroup]="resultForm">
            <h1>Generated Form</h1>
            <ng-container *ngFor="let ques of questions.controls; index as questionIndex">
                @if(ques.valid){
                <label for="question">{{ ques.value.question }}</label>
                <div *ngIf="questionsForm.controls['questions'].value[questionIndex].optionType === 'text'">
                    <input type="text">
                </div>
                <div *ngIf="questionsForm.controls['questions'].value[questionIndex].optionType === 'textarea'">
                    <textarea cols="4" rows="4"></textarea>
                </div>
                <div *ngIf="questionsForm.controls['questions'].value[questionIndex].optionType === 'checkbox'">
                    {{options(questionIndex).value | json}}

                    <ng-container *ngFor="let list of options(questionIndex).controls; index as optionIndex">
                        <label>
                            {{list.touched}}
                            {{list.untouched}}
                            <input type="checkbox" formControlName="{{ optionIndex }}">
                            {{ list.value }}
                        </label>
                    </ng-container>
                </div>
                <div *ngIf="questionsForm.controls['questions'].value[questionIndex].optionType === 'radio'">
            

                    <!-- <ng-container *ngFor="let list of options(questionIndex).controls; index as optionIndex"> -->
                        @for(list of options(questionIndex).controls;track $index;){

                        
                        <label>
                            <input type="radio"  [value]="list.value">
                            {{ list.value }}
                        </label>
                    }
                    <!-- </ng-container> -->
                </div>
                <div *ngIf="questionsForm.controls['questions'].value[questionIndex].optionType === 'select'">
                    {{options(questionIndex).value | json}}
                    <select formControlName="answer">
                        <option *ngFor="let list of options(questionIndex).controls; index as optionIndex"
                            [value]="list.value">
                            {{ list.value }}
                        </option>
                    </select>
                </div>
                }
            </ng-container>

            <button class="submit-btn" type="submit" [disabled]="!resultForm.valid">Submit</button>
        </form>
    </div>
</div>